.header{

    width: 100%;
    background-color: rgb(183, 219, 120);
    border-bottom: solid 1px;

} 

.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}